<div>
    <h1>Account Management</h1>


    <% if (messages && messages.length> 0) { %>
    <% messages.forEach(message=> { %>
    <div class="message-container">
      <div class="<%= message.type %>">
        <%- message.text %>
      </div>  
    </div>
    <% }) %> 
    <% } %>

    <ul class="no-bullets">
      <li><a href="/account/">Edit Account Information</a></li>
    </ul>

  </div>
  