<div>
  <h1>Account Management</h1>

  <% if (messages && messages.length > 0) { %>
      <% messages.forEach(message => { %>
          <div class="message-container">
              <div class="<%= message.type %>">
                  <%- message.text %>
              </div>  
          </div>
      <% }) %> 
  <% } %>

  <h3>Welcome <%= account_firstname %></h3>

  <p>You're logged in.</p>

  <p><a href="/account/update/<%= account_id %>">Edit Account Information</a></p>
  

  <% if (account_type === 'Employee' || account_type === 'Admin') { %>
      <h3>Inventory Management</h3>
      <p><a href="/inv">Manage Inventory</a></p>
  <% } %>
  
</div>

  