<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CSE Motors - CSE 340 App">
    <meta property="og:url" content="https://cse340-qw5f.onrender.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Berick Smith">
    <meta name="description" content="A site to improve my backend web development skills.">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link rel="preconnect" href="font.googleapis.com">
    <link rel="preconnect" href="font.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet"> 
</head>