<nav class="nav">
    <ul class="nav">
        <li class="nav">Home</li>
        <li class="nav">Custom</li>
        <li class="nav">Sedan</li>
        <li class="nav">SUV</li>
        <li class="nav">Truck</li>
    </ul>
</nav>