<div class="container">
  <h1>Add New Classification</h1>
  <div class="message-container">
    <% if (messages && Array.isArray(messages) && messages.length > 0) { %>
      <% messages.forEach(message => { %>
        <div class="flash-<%= message.type %>">
          <ul>
            <%- message.text %>
          </ul>
        </div>
      <% }) %>
    <% } %>
    
    <% if (errors && Array.isArray(errors) && errors.length > 0) { %>
      <% errors.forEach(error => { %>
        <div class="error">
          <%= error.msg %>
        </div>
      <% }) %>
    <% } %>
  </div>


  <div class="form-container">
    <form
      id="addClassificationForm"
      action="/inv/add-classification"
      method="post"
    >
    <p><b>Field is required.</b></p>
      <fieldset>
        <div class="form-group">
          <label for="classification-name">Classification Name:</label>
          <p>
            Cannot contain spaces or special characters.
          </p>
          <input
            type="text"
            id="classification-name"
            name="classification_name"
            required
            pattern="^[a-zA-Z]+$"
            value="<%= locals.classification_name %>"
          />
        </div>
        <button type="submit" class="form-button">Add Classification</button>
      </fieldset>
    </form>
  </div>
</div>
