<div>
  <h1>Inventory Management</h1>

  <% if (messages && messages.length> 0) { %>
  <% messages.forEach(message=> { %>
    <div class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
  <% }) %> 
  <% } %>

  <div>
    <ul class="no-bullets">
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
  </div>
</div>
